@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
/*--------------------------------------------------------------
# Top-nav bar
--------------------------------------------------------------*/
.navbar-brand{
  font-family: 'Lemon', cursive;
  font-size: 42px;  
}
#logo-color{
  color: orange;
}
#sign-in:hover{
  color: rgb(105, 173, 2);
}
#menu-icon{
  font-family: 'Lemon', cursive;
  font-size: 42px; 
  border: none;  
}
/*--------------------------------------------------------------
# side-nav-bar
--------------------------------------------------------------*/
#header{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0.15px;
  background-color: #040b14;
  overflow-y: auto;
}
#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}
header .profile h1{
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-emphasis: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}
#header .profile h1 a, #header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#header .profile .social-links a:hover {
  background: orange;
  color: #fff;
  text-decoration: none;
}
header #close-nav{
  top: 0;
  float: right;
  font-size: 30px;
  color: white;
  padding: 8px;
  background-color: #212431;
  border-radius: 50%;
  transition: 0.3s;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.nav-menu{
  padding-top: 30px;
}
.nav-menu *{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-menu >ul >li{
  position: relative;
  white-space: nowrap;
} 
.nav-menu a{
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}
.nav-menu a i{
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}
.nav-menu a:hover i, .nav-menu .active > a i, .nav-menu li:hover > a i {
  color: orange;
}